.clearfix:after,
.clearfix:before {
  content: " " !important;
  display: table !important;
}
.clearfix:after {
  clear: both !important;
}
.flex-shrink-0,
.no-shrink {
  display: flex;
  flex-shrink: 0 !important;
}
.flex-grow-1 {
  display: flex;
  flex-grow: 1 !important;
}
.flex-no-wrap {
  display: flex;
  flex-wrap: nowrap !important;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap !important;
}
.flex-wrap-reverse {
  display: flex;
  flex-wrap: wrap-reverse !important;
}
.flex-column {
  display: flex;
  flex-direction: column !important;
}
.flex-row {
  display: flex;
  flex-direction: row !important;
}
.justify-start {
  display: flex;
  justify-content: flex-start !important;
}
.justify-end {
  display: flex;
  justify-content: flex-end !important;
}
.justify-between {
  display: flex;
  justify-content: space-between !important;
}
.justify-around {
  display: flex;
  justify-content: space-around !important;
}
.justify-center {
  display: flex;
  justify-content: center !important;
}
.align-start {
  display: flex;
  align-items: flex-start !important;
}
.align-end {
  display: flex;
  align-items: flex-end !important;
}
.align-center {
  display: flex;
  align-items: center !important;
}
.align-stretch {
  display: flex;
  align-items: stretch !important;
}
.align-baseline {
  display: flex;
  align-items: baseline !important;
}
.align-self-start {
  display: flex;
  align-self: flex-start !important;
}
.align-self-end {
  display: flex;
  align-self: flex-end !important;
}
.align-self-center {
  display: flex;
  align-self: center !important;
}
.align-self-stretch {
  display: flex;
  align-self: stretch !important;
}
.align-self-baseline {
  display: flex;
  align-self: baseline !important;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.pull-none {
  float: none !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.hide-text {
  font: 0/0 a !important;
  color: transparent !important;
  text-shadow: none !important;
  background-color: transparent !important;
  border: 0 !important;
}
.m-all-auto {
  margin: auto !important;
}
.m-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.m-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.m-left-auto {
  margin-left: auto !important;
}
.m-right-auto {
  margin-right: auto !important;
}
.m-top-auto {
  margin-top: auto !important;
}
.m-bottom-auto {
  margin-bottom: auto !important;
}
.m-all-0 {
  margin: 0 !important;
}
.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.m-auto-x-0 {
  margin: auto 0 !important;
}
.m-auto-y-0 {
  margin: 0 auto !important;
}
.m-top-0 {
  margin-top: 0 !important;
}
.m-right-0 {
  margin-right: 0 !important;
}
.m-bottom-0 {
  margin-bottom: 0 !important;
}
.m-left-0 {
  margin-left: 0 !important;
}
.m-all-1 {
  margin: 4px !important;
}
.m-x-1 {
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.m-y-1 {
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.m-auto-x-1 {
  margin: auto 4px !important;
}
.m-auto-y-1 {
  margin: 4px auto !important;
}
.m-top-1 {
  margin-top: 4px !important;
}
.m-right-1 {
  margin-right: 4px !important;
}
.m-bottom-1 {
  margin-bottom: 4px !important;
}
.m-left-1 {
  margin-left: 4px !important;
}
.m-all-2 {
  margin: 8px !important;
}
.m-x-2 {
  margin-left: 8px !important;
  margin-right: 8px !important;
}
.m-y-2 {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
.m-auto-x-2 {
  margin: auto 8px !important;
}
.m-auto-y-2 {
  margin: 8px auto !important;
}
.m-top-2 {
  margin-top: 8px !important;
}
.m-right-2 {
  margin-right: 8px !important;
}
.m-bottom-2 {
  margin-bottom: 8px !important;
}
.m-left-2 {
  margin-left: 8px !important;
}
.m-all-3 {
  margin: 12px !important;
}
.m-x-3 {
  margin-left: 12px !important;
  margin-right: 12px !important;
}
.m-y-3 {
  margin-top: 12px !important;
  margin-bottom: 12px !important;
}
.m-auto-x-3 {
  margin: auto 12px !important;
}
.m-auto-y-3 {
  margin: 12px auto !important;
}
.m-top-3 {
  margin-top: 12px !important;
}
.m-right-3 {
  margin-right: 12px !important;
}
.m-bottom-3 {
  margin-bottom: 12px !important;
}
.m-left-3 {
  margin-left: 12px !important;
}
.m-all-4 {
  margin: 16px !important;
}
.m-x-4 {
  margin-left: 16px !important;
  margin-right: 16px !important;
}
.m-y-4 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}
.m-auto-x-4 {
  margin: auto 16px !important;
}
.m-auto-y-4 {
  margin: 16px auto !important;
}
.m-top-4 {
  margin-top: 16px !important;
}
.m-right-4 {
  margin-right: 16px !important;
}
.m-bottom-4 {
  margin-bottom: 16px !important;
}
.m-left-4 {
  margin-left: 16px !important;
}
.m-all-5 {
  margin: 20px !important;
}
.m-x-5 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m-y-5 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.m-auto-x-5 {
  margin: auto 20px !important;
}
.m-auto-y-5 {
  margin: 20px auto !important;
}
.m-top-5 {
  margin-top: 20px !important;
}
.m-right-5 {
  margin-right: 20px !important;
}
.m-bottom-5 {
  margin-bottom: 20px !important;
}
.m-left-5 {
  margin-left: 20px !important;
}
.m-all-6 {
  margin: 24px !important;
}
.m-x-6 {
  margin-left: 24px !important;
  margin-right: 24px !important;
}
.m-y-6 {
  margin-top: 24px !important;
  margin-bottom: 24px !important;
}
.m-auto-x-6 {
  margin: auto 24px !important;
}
.m-auto-y-6 {
  margin: 24px auto !important;
}
.m-top-6 {
  margin-top: 24px !important;
}
.m-right-6 {
  margin-right: 24px !important;
}
.m-bottom-6 {
  margin-bottom: 24px !important;
}
.m-left-6 {
  margin-left: 24px !important;
}
.m-all-7 {
  margin: 28px !important;
}
.m-x-7 {
  margin-left: 28px !important;
  margin-right: 28px !important;
}
.m-y-7 {
  margin-top: 28px !important;
  margin-bottom: 28px !important;
}
.m-auto-x-7 {
  margin: auto 28px !important;
}
.m-auto-y-7 {
  margin: 28px auto !important;
}
.m-top-7 {
  margin-top: 28px !important;
}
.m-right-7 {
  margin-right: 28px !important;
}
.m-bottom-7 {
  margin-bottom: 28px !important;
}
.m-left-7 {
  margin-left: 28px !important;
}
.m-all-8 {
  margin: 32px !important;
}
.m-x-8 {
  margin-left: 32px !important;
  margin-right: 32px !important;
}
.m-y-8 {
  margin-top: 32px !important;
  margin-bottom: 32px !important;
}
.m-auto-x-8 {
  margin: auto 32px !important;
}
.m-auto-y-8 {
  margin: 32px auto !important;
}
.m-top-8 {
  margin-top: 32px !important;
}
.m-right-8 {
  margin-right: 32px !important;
}
.m-bottom-8 {
  margin-bottom: 32px !important;
}
.m-left-8 {
  margin-left: 32px !important;
}
.m-all-9 {
  margin: 36px !important;
}
.m-x-9 {
  margin-left: 36px !important;
  margin-right: 36px !important;
}
.m-y-9 {
  margin-top: 36px !important;
  margin-bottom: 36px !important;
}
.m-auto-x-9 {
  margin: auto 36px !important;
}
.m-auto-y-9 {
  margin: 36px auto !important;
}
.m-top-9 {
  margin-top: 36px !important;
}
.m-right-9 {
  margin-right: 36px !important;
}
.m-bottom-9 {
  margin-bottom: 36px !important;
}
.m-left-9 {
  margin-left: 36px !important;
}
.m-all-10 {
  margin: 40px !important;
}
.m-x-10 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m-y-10 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.m-auto-x-10 {
  margin: auto 40px !important;
}
.m-auto-y-10 {
  margin: 40px auto !important;
}
.m-top-10 {
  margin-top: 40px !important;
}
.m-right-10 {
  margin-right: 40px !important;
}
.m-bottom-10 {
  margin-bottom: 40px !important;
}
.m-left-10 {
  margin-left: 40px !important;
}
.m-all-11 {
  margin: 44px !important;
}
.m-x-11 {
  margin-left: 44px !important;
  margin-right: 44px !important;
}
.m-y-11 {
  margin-top: 44px !important;
  margin-bottom: 44px !important;
}
.m-auto-x-11 {
  margin: auto 44px !important;
}
.m-auto-y-11 {
  margin: 44px auto !important;
}
.m-top-11 {
  margin-top: 44px !important;
}
.m-right-11 {
  margin-right: 44px !important;
}
.m-bottom-11 {
  margin-bottom: 44px !important;
}
.m-left-11 {
  margin-left: 44px !important;
}
.m-all-12 {
  margin: 48px !important;
}
.m-x-12 {
  margin-left: 48px !important;
  margin-right: 48px !important;
}
.m-y-12 {
  margin-top: 48px !important;
  margin-bottom: 48px !important;
}
.m-auto-x-12 {
  margin: auto 48px !important;
}
.m-auto-y-12 {
  margin: 48px auto !important;
}
.m-top-12 {
  margin-top: 48px !important;
}
.m-right-12 {
  margin-right: 48px !important;
}
.m-bottom-12 {
  margin-bottom: 48px !important;
}
.m-left-12 {
  margin-left: 48px !important;
}
.m-all-13 {
  margin: 52px !important;
}
.m-x-13 {
  margin-left: 52px !important;
  margin-right: 52px !important;
}
.m-y-13 {
  margin-top: 52px !important;
  margin-bottom: 52px !important;
}
.m-auto-x-13 {
  margin: auto 52px !important;
}
.m-auto-y-13 {
  margin: 52px auto !important;
}
.m-top-13 {
  margin-top: 52px !important;
}
.m-right-13 {
  margin-right: 52px !important;
}
.m-bottom-13 {
  margin-bottom: 52px !important;
}
.m-left-13 {
  margin-left: 52px !important;
}
.m-all-14 {
  margin: 56px !important;
}
.m-x-14 {
  margin-left: 56px !important;
  margin-right: 56px !important;
}
.m-y-14 {
  margin-top: 56px !important;
  margin-bottom: 56px !important;
}
.m-auto-x-14 {
  margin: auto 56px !important;
}
.m-auto-y-14 {
  margin: 56px auto !important;
}
.m-top-14 {
  margin-top: 56px !important;
}
.m-right-14 {
  margin-right: 56px !important;
}
.m-bottom-14 {
  margin-bottom: 56px !important;
}
.m-left-14 {
  margin-left: 56px !important;
}
.m-all-15 {
  margin: 60px !important;
}
.m-x-15 {
  margin-left: 60px !important;
  margin-right: 60px !important;
}
.m-y-15 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}
.m-auto-x-15 {
  margin: auto 60px !important;
}
.m-auto-y-15 {
  margin: 60px auto !important;
}
.m-top-15 {
  margin-top: 60px !important;
}
.m-right-15 {
  margin-right: 60px !important;
}
.m-bottom-15 {
  margin-bottom: 60px !important;
}
.m-left-15 {
  margin-left: 60px !important;
}
.p-all-0 {
  padding: 0 !important;
}
.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p-y-0 {
  padding-bottom: 0 !important;
}
.p-top-0,
.p-y-0 {
  padding-top: 0 !important;
}
.p-right-0 {
  padding-right: 0 !important;
}
.p-bottom-0 {
  padding-bottom: 0 !important;
}
.p-left-0 {
  padding-left: 0 !important;
}
.p-all-1 {
  padding: 4px !important;
}
.p-x-1 {
  padding-left: 4px !important;
  padding-right: 4px !important;
}
.p-y-1 {
  padding-bottom: 4px !important;
}
.p-top-1,
.p-y-1 {
  padding-top: 4px !important;
}
.p-right-1 {
  padding-right: 4px !important;
}
.p-bottom-1 {
  padding-bottom: 4px !important;
}
.p-left-1 {
  padding-left: 4px !important;
}
.p-all-2 {
  padding: 8px !important;
}
.p-x-2 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.p-y-2 {
  padding-bottom: 8px !important;
}
.p-top-2,
.p-y-2 {
  padding-top: 8px !important;
}
.p-right-2 {
  padding-right: 8px !important;
}
.p-bottom-2 {
  padding-bottom: 8px !important;
}
.p-left-2 {
  padding-left: 8px !important;
}
.p-all-3 {
  padding: 12px !important;
}
.p-x-3 {
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.p-y-3 {
  padding-bottom: 12px !important;
}
.p-top-3,
.p-y-3 {
  padding-top: 12px !important;
}
.p-right-3 {
  padding-right: 12px !important;
}
.p-bottom-3 {
  padding-bottom: 12px !important;
}
.p-left-3 {
  padding-left: 12px !important;
}
.p-all-4 {
  padding: 16px !important;
}
.p-x-4 {
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.p-y-4 {
  padding-bottom: 16px !important;
}
.p-top-4,
.p-y-4 {
  padding-top: 16px !important;
}
.p-right-4 {
  padding-right: 16px !important;
}
.p-bottom-4 {
  padding-bottom: 16px !important;
}
.p-left-4 {
  padding-left: 16px !important;
}
.p-all-5 {
  padding: 20px !important;
}
.p-x-5 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p-y-5 {
  padding-bottom: 20px !important;
}
.p-top-5,
.p-y-5 {
  padding-top: 20px !important;
}
.p-right-5 {
  padding-right: 20px !important;
}
.p-bottom-5 {
  padding-bottom: 20px !important;
}
.p-left-5 {
  padding-left: 20px !important;
}
.p-all-6 {
  padding: 24px !important;
}
.p-x-6 {
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.p-y-6 {
  padding-bottom: 24px !important;
}
.p-top-6,
.p-y-6 {
  padding-top: 24px !important;
}
.p-right-6 {
  padding-right: 24px !important;
}
.p-bottom-6 {
  padding-bottom: 24px !important;
}
.p-left-6 {
  padding-left: 24px !important;
}
.p-all-7 {
  padding: 28px !important;
}
.p-x-7 {
  padding-left: 28px !important;
  padding-right: 28px !important;
}
.p-y-7 {
  padding-bottom: 28px !important;
}
.p-top-7,
.p-y-7 {
  padding-top: 28px !important;
}
.p-right-7 {
  padding-right: 28px !important;
}
.p-bottom-7 {
  padding-bottom: 28px !important;
}
.p-left-7 {
  padding-left: 28px !important;
}
.p-all-8 {
  padding: 32px !important;
}
.p-x-8 {
  padding-left: 32px !important;
  padding-right: 32px !important;
}
.p-y-8 {
  padding-bottom: 32px !important;
}
.p-top-8,
.p-y-8 {
  padding-top: 32px !important;
}
.p-right-8 {
  padding-right: 32px !important;
}
.p-bottom-8 {
  padding-bottom: 32px !important;
}
.p-left-8 {
  padding-left: 32px !important;
}
.p-all-9 {
  padding: 36px !important;
}
.p-x-9 {
  padding-left: 36px !important;
  padding-right: 36px !important;
}
.p-y-9 {
  padding-bottom: 36px !important;
}
.p-top-9,
.p-y-9 {
  padding-top: 36px !important;
}
.p-right-9 {
  padding-right: 36px !important;
}
.p-bottom-9 {
  padding-bottom: 36px !important;
}
.p-left-9 {
  padding-left: 36px !important;
}
.p-all-10 {
  padding: 40px !important;
}
.p-x-10 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p-y-10 {
  padding-bottom: 40px !important;
}
.p-top-10,
.p-y-10 {
  padding-top: 40px !important;
}
.p-right-10 {
  padding-right: 40px !important;
}
.p-bottom-10 {
  padding-bottom: 40px !important;
}
.p-left-10 {
  padding-left: 40px !important;
}
.p-all-11 {
  padding: 44px !important;
}
.p-x-11 {
  padding-left: 44px !important;
  padding-right: 44px !important;
}
.p-y-11 {
  padding-bottom: 44px !important;
}
.p-top-11,
.p-y-11 {
  padding-top: 44px !important;
}
.p-right-11 {
  padding-right: 44px !important;
}
.p-bottom-11 {
  padding-bottom: 44px !important;
}
.p-left-11 {
  padding-left: 44px !important;
}
.p-all-12 {
  padding: 48px !important;
}
.p-x-12 {
  padding-left: 48px !important;
  padding-right: 48px !important;
}
.p-y-12 {
  padding-bottom: 48px !important;
}
.p-top-12,
.p-y-12 {
  padding-top: 48px !important;
}
.p-right-12 {
  padding-right: 48px !important;
}
.p-bottom-12 {
  padding-bottom: 48px !important;
}
.p-left-12 {
  padding-left: 48px !important;
}
.p-all-13 {
  padding: 52px !important;
}
.p-x-13 {
  padding-left: 52px !important;
  padding-right: 52px !important;
}
.p-y-13 {
  padding-bottom: 52px !important;
}
.p-top-13,
.p-y-13 {
  padding-top: 52px !important;
}
.p-right-13 {
  padding-right: 52px !important;
}
.p-bottom-13 {
  padding-bottom: 52px !important;
}
.p-left-13 {
  padding-left: 52px !important;
}
.p-all-14 {
  padding: 56px !important;
}
.p-x-14 {
  padding-left: 56px !important;
  padding-right: 56px !important;
}
.p-y-14 {
  padding-bottom: 56px !important;
}
.p-top-14,
.p-y-14 {
  padding-top: 56px !important;
}
.p-right-14 {
  padding-right: 56px !important;
}
.p-bottom-14 {
  padding-bottom: 56px !important;
}
.p-left-14 {
  padding-left: 56px !important;
}
.p-all-15 {
  padding: 60px !important;
}
.p-x-15 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.p-y-15 {
  padding-bottom: 60px !important;
}
.p-top-15,
.p-y-15 {
  padding-top: 60px !important;
}
.p-right-15 {
  padding-right: 60px !important;
}
.p-bottom-15 {
  padding-bottom: 60px !important;
}
.p-left-15 {
  padding-left: 60px !important;
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border: 0 !important;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
  overflow: visible !important;
  clip: auto !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
.text-justify {
  text-align: justify !important;
}
.text-justify-all {
  text-align: justify-all !important;
}
.text-start {
  text-align: start !important;
}
.text-end {
  text-align: end !important;
}
.text-match-parent {
  text-align: match-parent !important;
}
.text-inherit {
  text-align: inherit !important;
}
.text-initial {
  text-align: initial !important;
}
.text-unset {
  text-align: unset !important;
}
.truncate-text {
  width: 100% !important;
}
.truncate-text,
.truncate-text-weak {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
.vertical-baseline-inline-block:before,
.vertical-bottom-inline-block:before,
.vertical-middle-inline-block:before,
.vertical-top-inline-block:before {
  display: inline-block !important;
  vertical-align: baseline !important;
  height: 100% !important;
  content: "" !important;
}
.vertical-baseline-inline-block > :not(script):not(style),
.vertical-bottom-inline-block > :not(script):not(style),
.vertical-middle-inline-block > :not(script):not(style),
.vertical-top-inline-block > :not(script):not(style) {
  display: inline-block !important;
}
.vertical-baseline-inline-block .vertical-baseline,
.vertical-baseline-inline-block
  > :first-child:last-child:first-child:nth-last-child(1),
.vertical-bottom-inline-block .vertical-baseline,
.vertical-bottom-inline-block
  > :first-child:last-child:first-child:nth-last-child(1),
.vertical-middle-inline-block .vertical-baseline,
.vertical-middle-inline-block
  > :first-child:last-child:first-child:nth-last-child(1),
.vertical-top-inline-block .vertical-baseline,
.vertical-top-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: baseline !important;
}
.vertical-top-inline-block .vertical-top,
.vertical-top-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: top !important;
}
.vertical-top-inline-block .vertical-bottom,
.vertical-top-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: bottom !important;
}
.vertical-top-inline-block .vertical-middle,
.vertical-top-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: middle !important;
}
.vertical-top-inline-block:before {
  vertical-align: top !important;
}
.vertical-top-inline-block .vertical-baseline,
.vertical-top-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: baseline !important;
}
.vertical-bottom-inline-block .vertical-top,
.vertical-bottom-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: top !important;
}
.vertical-bottom-inline-block .vertical-bottom,
.vertical-bottom-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: bottom !important;
}
.vertical-bottom-inline-block .vertical-middle,
.vertical-bottom-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: middle !important;
}
.vertical-bottom-inline-block:before {
  vertical-align: bottom !important;
}
.vertical-bottom-inline-block .vertical-baseline,
.vertical-bottom-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: baseline !important;
}
.vertical-middle-inline-block .vertical-top,
.vertical-middle-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: top !important;
}
.vertical-middle-inline-block .vertical-bottom,
.vertical-middle-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: bottom !important;
}
.vertical-middle-inline-block .vertical-middle,
.vertical-middle-inline-block:before,
.vertical-middle-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: middle !important;
}
.vertical-middle-inline-block .vertical-baseline,
.vertical-middle-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: baseline !important;
}
.vertical-baseline-inline-block .vertical-top,
.vertical-baseline-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: top !important;
}
.vertical-baseline-inline-block .vertical-bottom,
.vertical-baseline-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: bottom !important;
}
.vertical-baseline-inline-block .vertical-middle,
.vertical-baseline-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: middle !important;
}
.vertical-baseline-inline-block .vertical-baseline,
.vertical-baseline-inline-block:before,
.vertical-baseline-inline-block
  > :first-child:last-child:first-child:nth-last-child(1) {
  vertical-align: baseline !important;
}
.titlecase {
  text-transform: capitalize !important;
}
.lowercase {
  text-transform: lowercase !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.title-case {
  text-transform: capitalize !important;
}
.display-flex {
  display: flex !important;
}
.display-inline-flex {
  display: inline-flex !important;
}
.display-inline {
  display: inline !important;
}
.display-inline-block {
  display: inline-block !important;
}
.display-block {
  display: block !important;
}

.h-max-100 {
  max-height: 100%;
}

.ofit-contain {
  object-fit: contain;
}

.w-max-100 {
  max-width: 100%;
}

.h-100 {
  height: 100%;
}
